*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 100vh;
  font-family: Arial, Helvetica, sans-serif
}

.App {
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.heading {
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    height: max-content;
    padding: 30px;
    width: 600px;
    border-radius: 20px;
}

.underline {
  background-color: black;
  height: 5px;
  margin: 10px;
  width: 100;
}

.test {
  text-align: center;
}

.card {
   display: flex;
   flex-direction: column;
   position: relative;
   background-color: aliceblue;
   border-radius: 10px;
}

.img-container {
  width: 80px;
  position: absolute; /* Adding position relative to enable z-index */
  z-index: 10; 
  margin-top: -3rem;
}

.img {
  aspect-ratio: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative; /* Adding position relative to ensure z-index works */
  z-index: 25; /* Applying z-index */
}

.img-back {
  width: 80px;
  height: 80px;
  background-color: #7F00FF; /* Voilet-500 */
  border-radius: 50%; /* Rounded full */
  position: absolute;
  margin-left: 6px;
  margin-top: -90px; 
  z-index: 20;
}
.name {
  text-align: center;
  margin-top: 7;
}

.para-name {
    font-weight: 1000;
    font-size: 20px;
    text-transform: uppercase;
    color: #7F00FF;
}

.para-job {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 5px;
}

.icon {
  color: #7F00FF;
  margin-top: 5px;
}

.para-desc {
  margin: 4px;
  color: rgba(0, 113, 212, 0.5); /* Text color with reduced opacity */
}
.btn-container {
   display: flex;
   flex-direction: row;
   font-weight: bold;
    gap: 3;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.btn {
    cursor: pointer;
    color:#7F00FF;
    font-size: 20px;
    border: none; /* Remove any border */
    box-shadow: none;
}
.btn:hover {
    color:#744d9b;
}

.me {
  background-color: #744d9b;
  color:white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
}
